<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo___local_marketplace__2_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo___local_marketplace__2_"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeUpproject"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity android:name=".EditProfileActivity"
            android:label="Edit Profile" />

        <activity android:name=".AddItemActivity" />
        <activity android:name=".ListingDetailActivity" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".MyListingsActivity" />
        <activity android:name=".NotificationActivity" />




    </application>

</manifest>